body {
  background-color: black;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 40vw;
  height: 40vw;
  background-color: black;
  border: solid 1px #fff;
  /* position: relative; */
}

.gameBoardPixel {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  float: left;
  /* position: absolute; */
}

.snakeBodyPixel {
  background-color: green;
}

.food {
  background-color: red;
}



